.examples {
    background-color: white;
    
    border-radius: 5px;
}

.assettype {
    font-size: 20px;
    color: #03045E;
}

.example {
    font-weight: lighter;
    color: #48CAE4;
}

.close {
    color: #03045E;
    font-size: 32.36px;
    
}

